StackLayout {
    margin-left: 30;
    margin-right: 30;
    margin-top: 125;
    padding-bottom: 15;
    background-color: white;
}

Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 15;
}

.button {
    text-transform: lowercase;
}

.sign-in-button {
    background-color: rgba(0, 225, 255, 0.856);
    color: white;
    margin-top: 10;
}